{% extends "layout.html" %}
{% block content%}
<form action="{{ url_for('create') }}" method="POST">
    <div class="row">
        <div class="six columns">
            <label for="title">{{ form.blog_title.label }}</label>
            {{ form.blog_title (class_="u-full-width", id="title") }}
        </div>
        <div class="six columns">
            <label for="category">{{ form.blog_title.label }}</label>
            {{ form.blog_title (class_="u-full-width", id="category") }}
        </div>
    </div>
    <label for="content">{{ form.blog_content.label }}</label>
    {{ form.blog_content (class_="u-full-width", id="content") }}
    {{ form.submit (class_="button") }}
</form>
{% endblock %}