<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <script src="https://cdn.tiny.cloud/1/di6cc0690cjgqoy2eqmh24t7o9m8jkxir8vzi0oamx62tg7p/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body>
    {% include 'navigation.html' %}
    <div class="container" id="blog-form" style="margin-top: 10rem;">
        <h1 class="site-title">nathaniel<span class="orange-text">senje</span></h1>
        <hr>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>